<html>
<head>
  <link rel="stylesheet" href="../css/editprofile.css">
  <script src="https://kit.fontawesome.com/ea0619ce99.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <style>
  #wander {
    line-height: 50px;
    position: fixed;
    float: left;
    margin: 35px 220px;
    color: grey;
    font-weight: 600 !important ;
    font-size: 14px;
    letter-spacing: 2px;
    transition: 1s;
  }

  nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1000;
    overflow-y: visible;
    border-bottom: 1px solid #f2f2f2;
    border-width: thin;
    padding: 10px;
    transition: background 300ms linear;
  }

  nav ul {
    line-height: 50px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    color: grey;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
  }

  nav ul li {
    display: inline-block;
    padding: 10px 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: grey;
    font-size: 16px;
  }
  </style>
</head>
<body class="ng-tns-0-0 account-settings" data-gr-c-s-loaded="true">
  <nav id="nav" style="z-index:5;padding-top:0.2%;padding-bottom:0.05%;border:none;" class="navpic">
    <div class="logo">
      <span id="wander">WANDERMATE</span>
    </div>
    <div class="menu"  style="overflow:visible!important;">
      <ul id="ul" style="margin-left:60%;margin-top:1.7%;">
        <center>
         <li><a class="items" href="/guides/guideprofile"><i class="fas fa-home"></i></a></li>
         <li><a class="items" href="/blog"><i class="fas fa-blog"></i></a></li>
         <li class="dropdown">
           <i class="fas fa-bell dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
             <!-- <button style="color:grey;font-size:16px;margin-top:-2%;" class="btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             </button> -->
             <div style="min-width:23rem;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <!-- <a style="padding-top:2px;" class="dropdown-item" href="/users">Profile</a>
               <a style="padding-top:2px;" class="dropdown-item" href="#">WanderList</a>
               <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a> -->
               <% if(user.notifications) {%>
                   <div class="px-3 py-3">
                     <h6 class="text-sm text-muted m-0">You have <strong class="text-primary"><%=user.notifications.length%></strong> notifications.</h6>
                   </div>

                   <div class="list-group list-group-flush" id="notifications">

               <% for(i=0;i < user.notifications.length;i++ ){ %>
                     <a href="#!" onclick="noti('<%=user.notifications[i]._id%>')" class="list-group-item list-group-item-action">
                       <div class="row align-items-center">
                         <div class="col-auto">
                           <img alt="Image placeholder" src="<%=user.notifications[i].img %>" class="avatar rounded-circle">
                         </div>
                         <div class="col ml--2">
                           <div class="d-flex justify-content-between align-items-center">
                             <div>
                               <h4 class="mb-0 text-sm"><%=user.notifications[i].username%></h4>
                             </div>
                             <div class="text-right text-muted">
                               <small></small>
                             </div>
                           </div>
                           <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                         </div>
                       </div>
                     </a>
                       <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
                     <%} %>

                   </div>
                     <%}else{ %>
                       <a href="#!" onclick="noti('')" class="list-group-item list-group-item-action">
                         <div class="row align-items-center">
                           <div class="col-auto">
                             <img alt="Image placeholder" src="<%=user.img.path%>" class="avatar rounded-circle">
                           </div>
                           <div class="col ml--2">
                             <div class="d-flex justify-content-between align-items-center">
                               <div>
                                 <h4 class="mb-0 text-sm">Reddy</h4>
                               </div>
                               <div class="text-right text-muted">
                                 <small></small>
                               </div>
                             </div>
                             <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                           </div>
                         </div>
                       </a>
                     <%}%>

             </div>
         </li>
         <li><a class="items" href="/blog"><i class="fas fa-sign-in-alt"><small>Logout</small></i></a></li>
       </center>
      </ul>
    </div>
  </nav>

    <!-- Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->

  <!---->
  <form method="post" enctype="multipart/form-data">


      <div class="wrapper">
        <div class="section-shaped my-0 ">
          <div class="page-header page-header-small header-filter">
            <div class="container"></div>
          </div>
        </div>
        <div class="bg-secondary">
          <div class="container bg-white card mb-0">
            <div class="row">
              <div class="col-md-3">
                <div class="section">
                  <section class="text-center">
                      <div _ngcontent-vus-c3="" class="fileinput text-center">
                        <input  type="file" id="my_file" name='userPhoto' style="display:none ">
                        <div _ngcontent-vus-c3="" class="thumbnail img-circle" onclick="imgclick()">
                          <img id="image" _ngcontent-vus-c3=""  alt="..." src="<%=user.img.path %>">
                        </div>
                        <div _ngcontent-vus-c3=""><!---->
                          <button _ngcontent-vus-c3="" class="btn btn-round btn-file mt-2"> Add Photo </button>
                          </div>
                        </div>
                      <h3 class="title mt-4"><%=user.username%></h3>
                    </section>
                    <section><br>
                      <ul class="nav flex-column" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                            <i class="tim-icons icon-single-02"></i>
                            General
                          </a>
                        </li>
                        <hr class="line-primary">
                        </ul>
                      </section><br><br><br>

                    </div>
                  </div>
                  <div class="col-md-8 ml-auto">
                    <div class="section">
                      <div class="tab-content">
                        <div class="tab-pane active" id="link1">
                          <div>
                            <header>
                              <h2 class="text-uppercase">General information</h2>
                            </header>
                            <hr class="line-primary"><br>
                            <div class="row">
                              <div class="col-md-3 align-self-center">
                                <label class="labels" for="#firstName"> Name </label>
                              </div>
                              <div class="col-md-9 align-self-center">
                                <div class="form-group">
                                  <input class="form-control" id="firstname" name="name" required="required" type="text" value="<%=user.name %>">
                                </div>
                              </div>
                            </div>

</div>
<div class="row">
  <div class="col-md-3 align-self-center">
    <label class="labels" for="#email"> Email </label>
  </div>
  <div class="col-md-9 align-self-center">
    <div class="form-group">
      <input class="form-control" id="email" name="email" required="required" type="email" value="<%=user.email %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 align-self-center">
    <label class="labels" for="#phone"> Phone Number </label>
  </div>
  <div class="col-md-4 align-self-center">
    <div class="form-group">
      <input class="form-control" id="phone" name="phone_number" required="required" type="tel" value="<%=user.phone_number %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 align-self-center">
    <label class="labels" for="#location"> Your Location </label>
  </div>
  <div class="col-md-9 align-self-center">
    <div class="form-group">
      <input class="form-control" id="location" name="city" required="required" type="text" value="<%=user.city %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 align-self-center">
    <label class="labels" for="#location"> Country </label>
  </div>
  <div class="col-md-9 align-self-center">
    <div class="form-group">
      <input class="form-control" id="location" name="country" required="required" type="text" value="<%=user.country %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 align-self-center">
    <label class="labels" for="#location"> Facebook</label>
  </div>
  <div class="col-md-9 align-self-center">
    <div class="form-group">
      <input class="form-control" id="location" name="facebook" required="required" type="text" value="<%=user.facebook %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 align-self-center">
    <label class="labels" for="#location"> Instagram </label>
  </div>
  <div class="col-md-9 align-self-center">
    <div class="form-group">
      <input class="form-control" id="location" name="instagram" required="required" type="text" value="<%=user.instagram %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 align-self-center">
    <label class="labels" for="#location"> About </label>
  </div>
  <div class="col-md-9 align-self-center">
    <div class="form-group">
<textarea  name="about" style="color:#8898aa;background-color:#fff;outline:0;box-shadow:none,none;"  rows="8"  cols="66" ><%=user.about %></textarea>

    </div>
  </div>
</div>


<div class="row mt-5">
  <div class="col-md-6">
    <button class="btn btn-primary" type="submit"> Save Changes </button>
    <button class="btn btn-outline-primary" type="reset"> Cancel </button>
  </div>
</div>
</div>
</div>
<div class="tab-pane" id="link2">

 </div>

</div>
</div>
</div>
</div>
</div>
</div>
</form>
<!---->
  <!-- <footer _ngcontent-vus-c2="" class="footer">
    <div _ngcontent-vus-c2="" class="container">
      <div _ngcontent-vus-c2="" class="row row-grid align-items-center mb-5">
        <div _ngcontent-vus-c2="" class="col-lg-6">
          <h3 _ngcontent-vus-c2="" class="text-primary font-weight-light mb-2">
            Thank you for supporting us! </h3>
            <h4 _ngcontent-vus-c2="" class="mb-0 font-weight-light"> Let's get in touch on any of these platforms. </h4>
          </div>
          <div _ngcontent-vus-c2="" class="col-lg-6 text-lg-center btn-wrapper">
            <button _ngcontent-vus-c2="" class="btn btn-icon-only btn-twitter rounded-circle mr-3" href="https://twitter.com/creativetim" target="_blank">
              <span _ngcontent-vus-c2="" class="btn-inner--icon">
                <i _ngcontent-vus-c2="" class="fa fa-twitter"></i>
              </span>
            </button>
            <button _ngcontent-vus-c2="" class="btn-icon-only rounded-circle btn btn-facebook mr-3" href="https://www.facebook.com/CreativeTim/" target="_blank">
              <span _ngcontent-vus-c2="" class="btn-inner--icon">
                <i _ngcontent-vus-c2="" class="fab fa-facebook"></i>
              </span>
            </button>
            <button _ngcontent-vus-c2="" class="btn btn-icon-only btn-dribbble rounded-circle mr-3" href="https://dribbble.com/creativetim" target="_blank">
              <span _ngcontent-vus-c2="" class="btn-inner--icon">
                <i _ngcontent-vus-c2="" class="fa fa-dribbble"></i>
              </span>
            </button>
            <button _ngcontent-vus-c2="" class="btn btn-icon-only btn-github rounded-circle" href="https://github.com/creativetimofficial" target="_blank">
              <span _ngcontent-vus-c2="" class="btn-inner--icon">
                <i _ngcontent-vus-c2="" class="fa fa-github"></i>
              </span>
            </button>
          </div>
        </div>
        <hr _ngcontent-vus-c2="">
        <div _ngcontent-vus-c2="" class="row align-items-center justify-content-md-between">
          <div _ngcontent-vus-c2="" class="col-md-6">
            <div _ngcontent-vus-c2="" class="copyright"> © 2019
              <a _ngcontent-vus-c2="" href="" target="_blank"> Creative Tim </a> .
            </div>
          </div>
          <div _ngcontent-vus-c2="" class="col-md-6">
            <ul _ngcontent-vus-c2="" class="nav nav-footer justify-content-end">
              <li _ngcontent-vus-c2="" class="nav-item">
                <a _ngcontent-vus-c2="" class="nav-link" href="" target="_blank"> Creative Tim </a>
              </li>
              <li _ngcontent-vus-c2="" class="nav-item">
                <a _ngcontent-vus-c2="" class="nav-link" href="" target="_blank"> About Us </a>
              </li>
              <li _ngcontent-vus-c2="" class="nav-item">
                <a _ngcontent-vus-c2="" class="nav-link" href="https://blog.creative-tim.com/" target="_blank"> Blog </a>
              </li>
              <li _ngcontent-vus-c2="" class="nav-item">
                <a _ngcontent-vus-c2="" class="nav-link" href="" target="_blank"> License </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer> -->


  <script src="../assets/vendor/jquery/jquery.min.js"></script>

<script src="../assets/vendor/popper/popper.min.js"></script>

<script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>
<script>
  function imgclick(){
    console.log('hi')
    $("input[id='my_file']").click();
  };

</script>

<script type="text/javascript">
window.onscroll = function(){
  var navbar = document.getElementById('nav')
  var wander = document.getElementById('wander')
  var items = document.getElementsByClassName('items')
  var count = document.getElementById('count')
  var btn = document.getElementById('dropdownMenuButton')
  var ul = document.getElementById('ul')

  if (window.pageYOffset < 150){
    navbar.style.background = "rgba(0, 0, 0, 0)";
    navbar.style.boxShadow = 'none';
    wander.style.color = 'grey';
    wander.style.marginTop = "35px"
    ul.style.marginTop = "1.7%";
    btn.style.color = 'grey';
    for(var i=0; i<items.length; i++){
      items[i].style.color = 'grey';
      items[i].onmouseover = function(){
        items[i].style.color = "#06b995";
      }
    }
  } else {
    navbar.style.background = '#fff';
    navbar.style.boxShadow = "0 4px 4px -2px #495057";
    wander.style.color = "grey";
    btn.style.color = 'grey';
    wander.style.marginTop = "17px"
    ul.style.marginTop = "0.4%";
    for(var i=0; i<items.length; i++){
      items[i].style.color = "grey";
      items[i].onmouseover = function(){
        items[i].style.color = "black";
      }
    }
  }
}
</script>

</body></html>
