<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/blog/blog.css">
    <link rel="stylesheet" href="/styles/blog/blog.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="module" src="https://cdn.quilljs.com/1.1.9/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.1.9/quill.snow.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ea0619ce99.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <style media="screen">

      #wander {
        line-height: 50px;
        position: fixed;
        float: left;
        margin: 35px 220px;
        color: #fff;
        font-weight: 700 !important ;
        font-size: 14px;
        letter-spacing: 2px;
        transition: 1s
      }

      nav {
        position: fixed;
        width: 100%;
        line-height: 60px;
        z-index: 1000;
        overflow-y: visible;
        border-bottom: 1px solid #f2f2f2;
        border-width: thin;
        padding: 10px;
        transition: background 300ms linear;
      }

      nav ul {
        line-height: 50px;
        list-style: none;
        background: rgba(0, 0, 0, 0);
        color: #fff;
        padding: 0;
        text-align: right;
        margin: 0;
        padding-right: 40px;
        transition: 1s;
      }

      nav ul li {
        display: inline-block;
        padding: 10px 20px;
      }

      nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
      }
    </style>
  </head>
  <body style="font-family: 'Muli', 'Helvetica', Arial, sans-serif;" onload="editorFunc(<%= blog[0].text %>)">
    <nav id="nav" style="z-index:5;padding-top:0.2%;padding-bottom:0.05%;border:none;" class="navpic">
      <div class="logo">
        <span id="wander">WANDERMATE</span>
      </div>
      <div class="menu"  style="overflow:visible!important;">
        <ul id="ul" style="margin-left:60%;margin-top:1.7%;">
          <center>
           <li><a class="items" href="/users/dashboard"><i class="fas fa-home"></i></a></li>
           <li><a class="items" href="/blog"><i class="fas fa-blog"></i></a></li>
           <li><a class="items" href="#"><i class="fas fa-bell"></i></a></li>
           <li class="dropdown" style="margin-left:-4%;">
               <button style="color:white;font-size:16px;margin-top:-2%;" class="btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="far fa-user-circle"><small><b><%= user.username %></b></small></i>
               </button>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <a style="padding-top:2px;" class="dropdown-item" href="/users">Profile</a>
                 <a style="padding-top:2px;" class="dropdown-item" href="#">WanderList</a>
                 <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a>
               </div>
           </li>
         </center>
        </ul>
      </div>
    </nav>


    <div class="parallax" style="background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4) 75%), url(<%= blog[0].images %>);">
    </div>
    <center>
       <p style="margin-top:-17%;margin-bottom:15%;color:white;font-size:40px;"><%=blog[0].heading%></p>
  </center>
      <div style="width:100%;" id="facilities" >
      <div>
        <div style="width:80%;float:left">
          <div style="padding-left:15%;padding-right:10%;padding-top:3.5%">
            <section class="blogs-1">
                  <div id="editor"></div>
            </section>
            <!-- <% if (true) { %> -->
              <span class="dropdown" >
                  <i class="fas fa-heart" style="color:#f783ac;font-size:22px;margin-top:-5%;"></i>
              </span>
            <!-- <% } else { %> -->
            <span class="dropdown" >
                <i class="fas fa-heart" style="color:#f783ac;font-size:22px;margin-top:-5%;"></i>
            </span>
            <span>
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
</span>
\            <!-- <% } %> -->
        </div>
      </div>

        <div style="width:20%;float:left" >
          <div style="margin-left:-30%;margin-right:15%;">




              <div class="card card-profile" data-background="cover" style="border:none;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-top:12%">
                <img style="height:75%" alt="cover" class="img pattern pattern-top" src="/styles/blog/card.jpg">
                <div class="card-header" >
                  <div class="card-avatar">
                  <div >
                    <img style="width:15vh;height:15vh;margin-top:10%;box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);" class="img img-raised rounded-circle" src=<%=user.img.path %> >
                  </div>
                </div>
              </div>
              <div class="card-body pt-0" >
                <div class="text-center">
                  <h5 class="h5 mt-3"> <%=blog[0].name%></h5>
                </div>



                <div class="card-profile-stats d-flex justify-content-center" style="margin-top:-4%">
                  <div>

                    <span class="heading" style="font-size:20px;"> <%=likes%> </span>
                    <span class="description" style="font-size:15px"> Likes </span>

                  </div>
                  <div>

                    <span class="heading" style="font-size:20px;"> <%=posts%> </span>
                    <span class="description" style="font-size:15px"> Posts </span>
                  </div>
                </div>


                    <a href="/blog/<%=blog[0]._id%>/all" style="" class="btn btn-lg btn-success btn-block" type="button"> Check Posts </a>

              </div>
            </div>

            <h2>Most Liked</h2>



<div style="padding-bottom:4%">



<% if(first){ %>
  <div style="border:none;box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.19);%">
  <div class="card-body">
    <h4 class="card-title">
      <a href="/blog/<%=first._id%>">
         <%= first.heading %> </a>
    </h4>
    <p class="card-description" >
      <%= first.text.substring(0,100) %>...
    </p>
     <div class="card-footer">
       <div class="author">
         <img alt="..." style="width:5vh;height:5vh" class="avatar img-raised" src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
         <span style="font-color:#d1d2d3"><%= first.name%>  </span>
       </div>
       <div class="stats stats-right opacity-8">
         <i class="ni ni-watch-time"></i>
          5 min read
        </div>
      </div>
    </div>
  </div>
<%}%>

</div>



<% if(second){ %>
  <div style="border:none;box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.19);%">
  <div class="card-body">
    <h4 class="card-title">
      <a href="/blog/<%=second._id%>">
         <%= second.heading%> </a>
    </h4>
    <p class="card-description" >
      <%= second.text.substring(0,100) %>...
    </p>
     <div class="card-footer">
       <div class="author">
         <img alt="..." style="width:5vh;height:5vh" class="avatar img-raised" src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
         <span style="font-color:#d1d2d3"> <%= second.name %> </span>
       </div>
       <div class="stats stats-right opacity-8">
         <i class="ni ni-watch-time"></i>
          5 min read
        </div>
      </div>
    </div>
  </div>
  <%}%>
</div>








          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
      function editorFunc(x){
        var delta = x;
        console.log(x)
        var text_editor = new Quill('#editor', {
          modules: {
            toolbar: false,
          },
        });
        text_editor.setContents(delta);

      };
    </script>
    <script type="text/javascript">
    window.onscroll = function(){
      var navbar = document.getElementById('nav')
      var wander = document.getElementById('wander')
      var items = document.getElementsByClassName('items')
      var count = document.getElementById('count')
      var btn = document.getElementById('dropdownMenuButton')
      var ul = document.getElementById('ul')

      if (window.pageYOffset < 250){
        navbar.style.background = "rgba(0, 0, 0, 0)";
        navbar.style.boxShadow = 'none';
        wander.style.color = "#ffffff";
        wander.style.marginTop = "35px"
        ul.style.marginTop = "1.7%";
        btn.style.color = '#ffffff';
        for(var i=0; i<items.length; i++){
          items[i].style.color = "#ffffff";
          items[i].onmouseover = function(){
            items[i].style.color = "#06b995";
          }
        }
      } else {
        navbar.style.background = '#fff';
        navbar.style.boxShadow = "0 4px 4px -2px #495057";
        wander.style.color = "grey";
        btn.style.color = 'grey';
        wander.style.marginTop = "17px"
        ul.style.marginTop = "0.4%";
        for(var i=0; i<items.length; i++){
          items[i].style.color = "grey";
          items[i].onmouseover = function(){
            items[i].style.color = "black";
          }
        }
      }
    }
    </script>
  </body>
</html>
